nav .active{
    color:#C90000!important;
}
nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light.bg-dark{
    background-color: #1B1B1B!important;
    max-width: 1200px;
    margin-inline:auto;
    padding:0em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}
.nav-link{
    padding:.5em 1.5em!important;
}
.navbar-brand{
    padding:0em!important;
    margin-top: -.25em;
}
nav .container{
    padding: 1em 5em;
}
.nav-link:nth-child(2) {

}