nav .active{
    /* color:#C90000!important; */
    color:forestgreen!important;
}

.navbar-toggler:focus{
    box-shadow: 0 0 0 0!important;
    outline: 0!important;
}
.navbar-toggler{
    padding:0em .3em!important;
}
@media only screen and (max-width:991px){
    .linkedin{
        transform: scale(1)!important;
    }
    .facebook{
        transform: scale(1)!important;
    }
    .twitter{
        transform: scale(1)!important;
    }
    .specialLink{
        margin-left: 0em;;
    }
}


nav.bg-body-tertiary.navbar.navbar-expand-lg.navbar-light.bg-dark{
    background-color: #1B1B1B!important;
    max-width: 1300px;
    margin-inline:auto;
    padding:0em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.nav-link{
    padding:.5em 1.5em!important;
}
.navbar-brand{
    padding:0em!important;
    margin-top: -.25em;
}
nav .container{
    padding: 1em 5em;
}
@media only screen and (max-width:1200px) {
    nav .container{
        padding: 1em 3em;
    }
}
.specialLink{
    margin-left: -1.5em;
}
@media only screen and (max-width: 990px) {
    .specialLink{
        margin-left: 0em;
    }
}
.linkedin:hover{
    color:#0e76a8!important;
    transform: scale(1.1);
}
.facebook:hover{
    color:#3b5998!important;
    transform: scale(1.1);
}
.twitter:hover{
    color:#00acee!important;
    transform: scale(1.1);
}